.button {
    background-color: #ECACB5;
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}
.button:hover{
    background-color: #f17a8d;
    color: #E3E3E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button_login {
    background-color: #ECACB5;
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}
.button_login:hover{
    background-color: #f17a8d;
    color: #E3E3E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form {
    background-color: #bbf1ef;
    border: 3px none #493e2c;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 50px auto;
    width: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*가운데 정렬*/
    display: flex;
    flex-direction: column; /*세로 정렬*/
    align-items: center;
}

.wrapper {
    margin: 10px auto;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
    text-align: center;
    width: 90%;
    align-items:center;
}

.contentContainer {
    margin-left: 8px;
    display: flex;
    flex-direction: colum;
    justifyContent: center;
    text-align: center;
}

.contentContainer_signup {
    margin: 0 auto;
    display: flex;
    flex-direction: colum;
    justifyContent: center;
    text-align: center;
}
.div {
    margin-bottom: 10px; /* 각 div 사이의 간격 조절 */
    margin-top: 10px;
}
.label {
    margin-left: 20px; /* label과 input의 왼쪽 간격 */
    margin-right: 20px; /* label과 input의 오른쪽 간격 */
}
.input {
    margin-left: 20px; /* label과 input의 오른쪽 간격 */
}
.main {
    padding-top: 20px;
}
.p{
    text-align: center;
}
