.menubar {
    background-color: lightblue;
    color: black;
    overflow: hidden;
    font-size: 20px;
    height:100px;
}

.menubar ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

.menubar li {
    float: left;
    margin-right: 60px;
}

.login {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #1F91BE;
    border: none;
    cursor: pointer;
}

.login:hover {
    background-color: #CAE7F2;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.banner-content {
    padding: 20px;
}

.info-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.info-header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.info-header p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #666;
}

.main_animal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main_animal h1{
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.more-button {
    background-color: #758299;
    color: #fff;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-size: 20px;
}

.more-button:hover {
    background-color: #333333;
}