@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.user-content-container {
    max-width: 1650px;
    margin: 10px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'TheJamsil5Bold';
}

.user-posts, .user-comments {
    margin-top: 20px;
    font-size: 20px;
}

.post-item, .comment-item {
    padding: 10px;
    border: 1px solid lightslategrey;
    border-radius: 4px;
    margin-bottom: 10px;
}

.post-item h3 {
    margin: 0 0 10px 0;
}