
.container_question {
    background-color: rgba(85, 200, 47, 0.2); /*#c9e2b3*/
    padding: 20px;
    border-radius: 10px;
    width: 1410px;
    margin: 20px auto 30px auto;
}
.contentContainer_question{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.button {
    background-color: #ECACB5;
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
    width: 300px;
}
.button:hover {
    background-color: #f17a8d;
    color: #E3E3E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.label{
    font-size: 20px;

}