.recommend-slide {
    width: 80%;
    margin: 40px auto;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.slide-item {
    text-align: center;
    padding: 0;
    font-family: 'TheJamsil5Bold';
}

.slide-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    max-height: 450px;
}

.slide-item h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.slide-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.slide-banner-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'TheJamsil5Bold';
}

.slide-banner-button:hover {
    background-color: #0056b3;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 10px;
}