<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.mappers.FavoriteMapper">

    <insert id="addFavorite" parameterType="com.petmily.dto.Favorite">
        INSERT INTO favorites (mem_id, desertionNo)
        VALUES (#{memId}, #{desertionNo})
    </insert>

    <select id="getMemberFavorites" parameterType="String" resultType="String">
        SELECT desertionNo FROM favorites WHERE mem_id = #{memId}
    </select>



    <select id="findFavoritesByMemberId" parameterType="String" resultType="com.petmily.dto.Favorite">
        SELECT * FROM favorites WHERE mem_id = #{memId}
    </select>

    <delete id="deleteFavoriteByMemIdAndDesertionNo" parameterType="map">
        DELETE FROM favorites
        WHERE mem_id = #{memId}
          AND desertionNo = #{desertionNo}
    </delete>

    <select id="findMembersByDesertionNo" parameterType="String" resultType="String">
        SELECT mem_id FROM favorites WHERE desertionNo = #{desertionNo}
    </select>


</mapper>
