<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petmily.mappers.UserCharacteristicsMapper">
    <insert id="save" parameterType="com.petmily.dto.UserCharacteristics">
        INSERT INTO UserCharacteristics (
            mem_id, affectionateWithFamily, goodWithYoungChildren, goodWithOtherDogs,
            sheddingLevel, coatGroomingFrequency, droolingLevel, opennessToStrangers,
            watchdogProtectiveNature, playfulnessLevel, adaptabilityLevel,
            trainabilityLevel, barkingLevel, energyLevel, mentalStimulationNeeds
        ) VALUES (
                     #{memId}, #{affectionateWithFamily}, #{goodWithYoungChildren}, #{goodWithOtherDogs},
                     #{sheddingLevel}, #{coatGroomingFrequency}, #{droolingLevel}, #{opennessToStrangers},
                     #{watchdogProtectiveNature}, #{playfulnessLevel}, #{adaptabilityLevel},
                     #{trainabilityLevel}, #{barkingLevel}, #{energyLevel}, #{mentalStimulationNeeds}
                 )
            ON DUPLICATE KEY UPDATE
                                 affectionateWithFamily = VALUES(affectionateWithFamily),
                                 goodWithYoungChildren = VALUES(goodWithYoungChildren),
                                 goodWithOtherDogs = VALUES(goodWithOtherDogs),
                                 sheddingLevel = VALUES(sheddingLevel),
                                 coatGroomingFrequency = VALUES(coatGroomingFrequency),
                                 droolingLevel = VALUES(droolingLevel),
                                 opennessToStrangers = VALUES(opennessToStrangers),
                                 watchdogProtectiveNature = VALUES(watchdogProtectiveNature),
                                 playfulnessLevel = VALUES(playfulnessLevel),
                                 adaptabilityLevel = VALUES(adaptabilityLevel),
                                 trainabilityLevel = VALUES(trainabilityLevel),
                                 barkingLevel = VALUES(barkingLevel),
                                 energyLevel = VALUES(energyLevel),
                                 mentalStimulationNeeds = VALUES(mentalStimulationNeeds);
    </insert>
</mapper>
