.board-container {
    width: 1500px;
    margin: 0 auto;
}

.board-list {
    list-style-type: none;
    padding: 0;
}

.board-item:hover {
    background-color: #f4f4f4;
}

.board-index {
    width: 10%;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
}

@font-face {
    font-family: "Tenada";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.board-title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 45px;
    font-family: "Tenada";
    margin-left: 35px;
}

.board-meta {
    font-size: 14px;
    color: #666;
}

@font-face {
    font-family: "Paperlogy-8ExtraBold";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

.board-write {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    margin-bottom: 15px;
    font-size: 19px;
    margin-right: 35px;
    font-family: "Paperlogy-8ExtraBold";
}

.fix::after {
    content: "";
    display: table;
    clear: both;
}

.board-write:hover {
    background-color: #0056b3;
}

.board-divider {
    border: none;
    border-top: 2px solid black;
    margin: 0;
}

.board-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
    margin: 10px 0;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.board-item span,
.board-item .board-link {
    display: inline-block;
    margin-right: 10px;
}

.board-link {
    flex-grow: 1;
    text-decoration: none;
    color: #000;
}

.board-author {
    width: 15%;
    text-align: center;
}

.board-date {
    width: 20%;
    text-align: center;
}

.board-header-no,
.board-header-title,
.board-header-author,
.board-header-date {
    font-family: "Paperlogy-8ExtraBold";
    font-weight: bold;
    font-size: 22px;
    padding: 5px 0;
}

.board-header-no {
    width: 10%;
    text-align: center;
}

.board-header-title {
    width: 55%;
    text-align: left;
    padding-left: 15px;
}

.board-header-author {
    width: 15%;
    text-align: center;
}

.board-header-date {
    width: 20%;
    text-align: center;
}

.board-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #d3d3d3;
    padding: 10px 0;
    background-color: lightgrey;
}

.board-cont span {
    display: inline-block;
    margin-right: 10px;
}

.form-container {
    max-width: 1450px;
    margin: 50px auto;
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-family: "Paperlogy-8ExtraBold";
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 19px;
    font-family: "Paperlogy-8ExtraBold";
}

.form-group input[type="text"] {
    background-color: azure;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-group textarea {
    height: 300px;
    resize: vertical;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-family: "Paperlogy-8ExtraBold";
    margin-bottom: 15px;
    margin-right: 10px;
}

.button-container button:last-child {
    margin-right: 0;
}

.button-container button:hover {
    background-color: #0056b3;
}